<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<h1><%= title %></h1>
		<p>Welcome to <%= title %></p>
		<h2>The trends in Australia</h2>
			<% if(tags.length > 0)  { %>
				<% for(i = 0; i < tags.length;i++) { %>
					<ul>
						<li>
							<%= tags[i] %>
						</li>
					</ul>
				<% } %>
			<% } %> 
		
	</body>
</html>
